<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>Uutiset kategorioittain</title>
    </head>
    <body>

        <h3>Kategoriaan <a th:text="${kategoria.nimi}"></a> kuuluvat uutiset:</h3>
        <ul 
            <li th:each="uutinen : ${uutiset}">
                <a th:href="@{~/uutiset/{id}(id=${uutinen.id})}">
                    <span th:text="${uutinen.otsikko}"></span>
                </a> <br>
                    <span th:text="${uutinen.ingressi}"></span>
                    <span th:text="${uutinen.julkaisuaika}"></span>

            </li>
        </ul>
        <p><a href="/uutiset">Takaisin etusivulle</a></p>
    </body>

</html>