<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>Lauran uutiset - Muokkaa Uutista</title>
    </head>
    <body>
        <h2>Muokkaa olemassa olevaa uutista</h2>

        <form method="POST" th:action="@{/muokkaaUutista}">
            <select name="uutinen">
                <option th:each="uutinen : ${uutiset}" th:value="${uutinen.id}" th:text="${uutinen.otsikko}"></option>
            </select>
            Otsikko:
            <input type="text" name="otsikko"/>
            Ingressi:
            <input type="text" name="ingressi"/>
            Teksti:
            <input type="text" name="teksti"/>
            Kirjoittaja:
            <input type="text" name="kirjoittaja"/>
            <input type="submit" value="Lisää"/>
        </form>

        <h2> Lisää kategoria uutiselle</h2>

        <form method="POST" th:action="@{/lisaaKategoria}">
            <select name="uutinen">
                <option th:each="uutinen : ${uutiset}" th:value="${uutinen.id}" th:text="${uutinen.otsikko}"></option>
            </select>
            <select name="kategoria">
                <option th:each="kategoria : ${kategoriat}" th:value="${kategoria.id}"  th:text="${kategoria.nimi}"></option>
            </select>
            <input type="submit" value="Lisää"/>
        </form>

        <h2> Lisää kirjoittaja uutiselle</h2>

        <form method="POST" th:action="@{/lisaaKirjoittaja}">
            <select name="uutinen">
                <option th:each="uutinen : ${uutiset}" th:value="${uutinen.id}" th:text="${uutinen.otsikko}"></option>
            </select>
            <select name="kirjoittaja">
                <option th:each="kirjoittaja : ${kirjoittajat}" th:value="${kirjoittaja.id}"  th:text="${kirjoittaja.nimi}"></option>
            </select>
            <input type="submit" value="Lisää"/>
        </form>

        <p><a href="/uutiset">Takaisin etusivulle</a></p>
    </body>
</html>
