<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>Lauran uutiset</title>
    </head>
    <body>

        <h1>Lauran Uutiset</h1>
        <h2> Uusimmat </h2>
        <div>
            <ul>
                <li th:each="uutinen : ${uutisetJulkaisuaika}">
                    <a th:href="@{~/uutiset/{id}(id=${uutinen.id})}">
                        <span th:text="${uutinen.otsikko}"></span>
                    </a> <br>
                        <span th:text="${uutinen.ingressi}"></span>
                        <span th:text="${uutinen.julkaisuaika}"></span>
                </li>
            </ul>
        </div>
        <h2> Luetuimmat </h2>
        <div>
            <ul>
                <li th:each="uutinen : ${uutisetSuosituimmat}">
                    <a th:href="@{~/uutiset/{id}(id=${uutinen.id})}">
                        <span th:text="${uutinen.otsikko}"></span>
                    </a> <br>
                        <span th:text="${uutinen.ingressi}"></span>
                        <span th:text="${uutinen.julkaisuaika}"></span>

                </li>
            </ul>
        </div>
        <h2> Hae kategorian mukaan </h2>
        <div>
            <ul>
                <li th:each="kategoria : ${kategoriat}">
                    <a th:href="@{~/kategoria/{id}(id=${kategoria.id})}">
                        <span th:text="${kategoria.nimi}"></span>
                    </a>
                </li>
            </ul>
        </div>


        <p><a href="/lisaaUutinen">Lisää uusi uutinen tästä! </a></p>
        <p><a href="/muokkaaUutista">Muokkaa olemassa olevaa uutista tästä! </a></p>
    </body>

</html>