<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>Lauran uutiset</title>
    </head>
    <body>

        <h1>Lauran Uutiset</h1>
        <h2> Uusimmat </h2>
        <div>
            <ul>
                <li th:each="uutinen : ${uutisetJulkaisuaika}">
                    <a th:href="@{~/uutiset/{id}(id=${uutinen.id})}">
                        <span th:text="${uutinen.otsikko}"></span>
                    </a>

                </li>
            </ul>

        </div>
        <p><a href="/lisaaUutinen">Lisää uusi uutinen tästä! </a></p>
    </body>

</html>